In [2]:
a = 10
b = 3.142
c = 6 + 10j

print(a, b, c)

10 3.142 (6+10j)

In [3]:
print(int(a), float(b), str(c))

10 3.142 (6+10j)

In [4]:
myList = [3, 10.26, "cherry"]
print(myList)

[3, 10.26, 'cherry']

In [5]:
myTuple = (3, 10.26, "cherry")
print(myTuple)

(3, 10.26, 'cherry')

In [6]:
myDict = {
    "brand" : "ford",
    "model" : "mustang",
    "year" : "2022"
}

print(myDict)

{'brand': 'ford', 'model': 'mustang', 'year': '2022'}

In [7]:
setOne = {1,2,3,4}
setTwo = {5,6,7,8}

print(setOne, setTwo)

{1, 2, 3, 4} {8, 5, 6, 7}

In [8]:
x = 10
y = 15

print(y // x)
print(y * x)
print(y ** x)

1
150
576650390625

In [9]:
print(x == y)

False

In [10]:
colors = ["black", "white", "yellow"]
print("red" in colors)
print("yellow" not in colors)
print("black" in colors)

False
False
True

In [11]:
def my_function():
    print("Hello from function")
    
my_function()

Hello from function

In [12]:
myList = ["blue","white","black","grey","green","purple"]
print(myList[0], myList[len(myList) - 1])

blue purple

In [13]:
file_name = input()
file_name = file_name.split('.')
print("FILE NAME : ", file_name[0])
print("EXTENSION : ", file_name[1])

input.txt
FILE NAME :  input
EXTENSION :  txt

In [14]:
my_function()

Hello from function

In [15]:
# function to find a max of three numbers
def find_max(x, y, z):
    return max(x, y, z)

print(find_max(16, 66660, 776))

66660

In [16]:
# function to sum all the numbers in a list
def sum_list(nums):
    s = 0
    for num in nums:
        s += num
    return s

print(sum_list([1,2,3,4]))

10

In [17]:
# function to multiply all the numbers in a list
def mul_list(nums):
    s = 1
    for num in nums:
        s *= num
    return s

print(mul_list([1,2,3,4]))

24

In [18]:
# function to reverse a string
def reverse_string(string):
    return string[::-1]

print(reverse_string("Hello, world!"))

!dlrow ,olleH

In [19]:
# function to calculate factorial of a number
def factorial(num):
    fact = 1
    for i in range(1, num + 1):
        fact *= i
    return fact

print(factorial(5))

120

In [21]:
# check if a number falls in a given range
def check(num, floor, ceil):
    if num > floor and num < ceil:
        return True
    return False

print(check(10, 7, 19))
print(check(100, 7, 19))

True
False

In [22]:
# function to print even numbers from a given list
def print_even(nums):
    res = []
    for num in nums:
        if num % 2 == 0:
            res.append(num)
    return res

print(print_even([1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]